In [45]:
import requests
import json
from shop.models import Post, Tag, Rating
import os
from urllib.request import urlretrieve
from django.core.files import File
from bs4 import BeautifulSoup

def crawling_data(q):
    res_list =[]
    i = 1
    url = "https://m.store.naver.com/sogum/api/businesses"


    for k in range(0, 1):
        params = {
            'query': q,
            'start' : i,
            'display': 10,
        }

        html = requests.get(url, params = params).text
        json_html = json.loads(html)
        items = json_html['items']

        if items not in res_list:
            res_list.extend(items)
            i = i + 20

        else:
            break

        res_info = []
        res_basic_dic = {}

        for res_id in res_list:
            temp_list = []
            lnglat_set = (res_id['x'], res_id['y'])
            temp_list.append(lnglat_set)
            temp_list.append(res_id['category'])
            res_basic_dic[res_id['id']] = temp_list


        detail_contents_list  = []
        for res in res_basic_dic.keys():
            detail_url = 'https://m.store.naver.com/restaurants/detail'
            detail_params= {
                'id': res,
            }

            detail_html = requests.get(detail_url, params = detail_params).text
            bs_obj = BeautifulSoup(detail_html, 'html.parser')
            content_dict = {}
            try:
                content_dict['lnglat'] = str(res_basic_dic[res][0]).replace('(','').replace(')','').replace("'", '')
                content_dict['tag'] = str(res_basic_dic[res][1]).replace('[','').replace(']','').strip()
                content_dict['title'] = bs_obj.select('.biz_name')[0].text
                content_dict['address'] = bs_obj.select('.addr')[0].text
                content_dict['phone_number'] = bs_obj.select('.btn_tel')[0]['href']
                content_dict['avail_time'] = bs_obj.select('.txt > span')[4].text

            

                menu_list = bs_obj.select('.menu  .menu_area span')
                menu_dict = {}
                for i in menu_list:
                    if i.text == '대표':
                        continue
                    menu_dict[i.text] = None

                price_list = bs_obj.select('.menu  li em')
                price_list_numbers = []

                i = 0
                for key in menu_dict.keys():
                    price = price_list[i].text
                    menu_dict[key] = price
                    price_list_numbers.append(price)
                    i = i+1

                import string
                import math

                # Thanks to Martijn Pieters for this improved version

                # This uses the 3-argument version of str.maketrans
                # with arguments (x, y, z) where 'x' and 'y'
                # must be equal-length strings and characters in 'x'
                # are replaced by characters in 'y'. 'z'
                # is a string (string.punctuation here)
                # where each character in the string is mapped
                # to None
                translator = str.maketrans('', '', string.punctuation)

                # This is an alternative that creates a dictionary mapping
                # of every character from string.punctuation to None (this will
                # also work)
                #translator = str.maketrans(dict.fromkeys(string.punctuation))

                s = 'string with "punctuation" inside of it! Does this work? I hope so.'

                # pass the translator to the string's 
                print(s.translate(translator))

                print(price_list_numbers)
                sum = 0
                for i in price_list_numbers:
                    temp = i[0:len(i)-1]
                    sum += math.floor(int(temp.translate(translator)))

                avg_price = math.floor(sum/len(price_list_numbers))
                #print(avg_price)

                menu_str = str(menu_dict)
                menu_str_strip = menu_str[1:len(menu_str)-1]
                content_dict['menu'] = menu_str_strip
                content_dict['avg_price'] = avg_price

            except:
                print("one of lgnlat, tag, title, address, phone_number, avail_time, menu, avg_price error!")

            try:
                contents_str= bs_obj.select('.info .ellipsis_area')[0].text
                contents_str_strip = contents_str[0:len(contents_str)-2]
                content_dict['content'] = contents_str_strip.strip()
            except:
                print('Error! during contents!')
            try:
                img_src = str(bs_obj.select('div._flick-ct')[0])
                src_start_idx = img_src.find('https://')
                src_end_idx = img_src.find('&')
                img_src = img_src[src_start_idx:src_end_idx]
                #print(img_src)
                content_dict['img_src'] = img_src
            except:
                print('Error! during image url..!')


            res_info.append(content_dict)
            res_info.append(avg_price)
            break

    return res_info

In [46]:
print(crawling_data('왕십리맛집'))

string with punctuation inside of it Does this work I hope so
['38,500원', '3,000원', '3,000원']
[{'lnglat': '127.0306598, 37.5672925', 'tag': '소고기구이', 'title': '대도식당 왕십리본점', 'address': '서울 성동구 무학로12길 3', 'phone_number': 'tel:02-2292-9772', 'avail_time': '매일 11:00 - 22:00 명절 휴무', 'menu': "'한우 등심구이(200g)': '38,500원', '깍두기 볶음밥': '3,000원', '된장죽': '3,000원'", 'avg_price': 14833, 'content': '1964년에 창업하여 50년간 맛과 전통을 지켜온 우리나라를 대표하는 등심 전문 식당,  대도식당의 왕십리 본점입니다.', 'img_src': 'https://search.pstatic.net/common/?src=http%3A%2F%2Fldb.phinf.naver.net%2F20151216_174%2F1450257845376z6n9R_JPEG%2F00_11679517_07.jpg'}, 14833]

In [27]:
a = Post.objects.filter(tag_set__location__icontains='왕십리')
ordered = a.order_by('-score')
response = ordered[1]
img_url = 'https://s3.ap-northeast-2.amazonaws.com/eatcha' + response.image.url

list = [response.title, img_url, response.id]
print(list)

['왕십리맛나곱창', 'https://s3.ap-northeast-2.amazonaws.com/eatcha/media/srchttp3A2F2Fldb.phinf.naver.net2F20160212_1652F14552039143543JlKj_JPEG2F17616240485306_UUaewYO.jpeg', 2]

In [28]:
content = "ㄴㄹㅇㄴㅇㄹ 서울대입구ㄴㅇㄹㄴㅇㄹ"

In [4]:
'서울대' in content

True

In [29]:
from django.shortcuts import render, resolve_url

In [30]:
b = resolve_url('shop:detail', response.id)

In [31]:
print(b)

/shop/post/2/

In [44]:
a = Post.objects.all()
print(a[0].title)
print(type(a[0]))
b = a[0].tag_set.all()
c = b[0]
print(type(c))
print(c.location)

안녕베트남
<class 'shop.models.Post'>
<class 'shop.models.Tag'>
서울대입구

In [9]:
s = '만두, 치킨, 피자, 1000원'

In [6]:
def cut(string):
    for i in string:
        if i == ',':
            print(index(i))
        else:
            pass

In [7]:
cut('만두, 치킨, 피자, 1000원')

NameError: name 'index' is not defined

In [14]:
mylist = s.split(',')
new_list=[]
for i in mylist:
    new_list.append(i.strip())

print(mylist)
print(new_list)

['만두', ' 치킨', ' 피자', ' 1000원']
['만두', '치킨', '피자', '1000원']

In [38]:
a = Post.objects.all().order_by('-score')[0:8]
b = a.tag_set.all()[0]

AttributeError: 'QuerySet' object has no attribute 'tag_set'

In [39]:

print(b.title)

왕십리통골뱅이

In [42]:
for i in a:
    print(i.title)
    print(type(i))

왕십리통골뱅이
<class 'shop.models.Post'>
미노루
<class 'shop.models.Post'>
조개창고
<class 'shop.models.Post'>
무한장어 왕십리점
<class 'shop.models.Post'>
리사르커피
<class 'shop.models.Post'>
쏠트앤페퍼
<class 'shop.models.Post'>
왕십리원조황소곱창
<class 'shop.models.Post'>
고래감자탕 왕십리점
<class 'shop.models.Post'>

In [45]:
assd= Post.objects.filter(tag_set__location__icontains='왕십리').order_by('-score')

In [44]:
assd[0]

In [46]:
assd[1]

In [47]:
list = [
{"name": "Tom", "age": 10},
{"name": "Mark", "age": 5},
{"name": "Pam", "age": 7}
]

In [49]:
for i in list:

TypeError: sequence item 0: expected str instance, dict found

In [51]:
print(list)

[{'name': 'Tom', 'age': 10}, {'name': 'Mark', 'age': 5}, {'name': 'Pam', 'age': 7}]

In [52]:
string = str(list)

In [53]:
string

"[{'name': 'Tom', 'age': 10}, {'name': 'Mark', 'age': 5}, {'name': 'Pam', 'age': 7}]"

In [117]:
def to_string(final_shop_list):
        string = ""
        for i in final_shop_list:
            string += str(i)[1:len(str(i))-1]
            #print(i)
            string += '\n'
        return string

In [118]:
print(to_string(list))

'name': 'Tom', 'age': 10
'name': 'Mark', 'age': 5
'name': 'Pam', 'age': 7

In [88]:
to_string(list)

ValueError: too many values to unpack (expected 2)

In [2]:
a = Post.objects.all().order_by('-score')[0]
b = a.tag_set.all()[0]

In [3]:
type(a.score)

int

In [4]:
a.score

50

In [10]:
str(a.score/10) + '점'

'5.0점'

In [12]:
str(b.avg_price) +'dnjs'

'23500점'

In [35]:
string = "1234567"
digit = 123456

def insert_dash(string, index):
    return string[:index] + ',' + string[index:]

print(insert_dash(string,3))

123,4567

In [36]:
def comma(num):
    '''Add comma to every 3rd digit. Takes int or float and
    returns string.'''
    if type(num) == int:
        return '{:,}'.format(num)
    elif type(num) == float:
        return '{:,.2f}'.format(num) # Rounds to 2 decimal places
    else:
        print("Need int or float as input to function comma()!")

In [37]:
a = comma(digit)

In [38]:
type(a)
print(a)

123,456

In [44]:
a = Post.objects.all().order_by('-score')[0]
b = a.tag_set.all()[0]

In [45]:
c = comma(b.avg_price)

In [46]:
type(c)

str

In [47]:
print(c)

23,500

In [50]:
c += "원"

In [51]:
print(c)

23,500원

In [53]:
value = -12345672
print (format (value, ',d'))

-12,345,672

-12345672

In [58]:
value = -123.45672
print (format (value, ',f'))

-123.456720

In [61]:
def comma(num):
        '''Add comma to every 3rd digit. Takes int or float and
        returns string.'''
        
        if type(num) == int:
            string = format(num, ',d')
            return string
        
        else:
            print("Need int as input to function comma()!")

In [62]:

comma(12345)

'12,345'

In [65]:
import requests
import json
from shop.models import Post, Tag, Rating
import os
from urllib.request import urlretrieve
from django.core.files import File
from bs4 import BeautifulSoup

detail_url = 'https://m.store.naver.com/restaurants/detail'
detail_params= {
    'id': 20470283,
}

detail_html = requests.get(detail_url, params = detail_params).text
bs_obj = BeautifulSoup(detail_html, 'html.parser')

blog_dict = {}

blog_dict['title1'] =bs_obj.select('#content > div.sc_box.review > ul > li > a > div.info_area > div.tit.ellp2')[0].text
blog_dict['content1'] =bs_obj.select('#content > div.sc_box.review > ul > li > a > div.info_area > div.txt')[0].text
blog_dict['link1'] =bs_obj.select('#content > div.sc_box.review > ul > li > a')[0].get('href')
blog_dict['title2'] =bs_obj.select('#content > div.sc_box.review > ul > li > a > div.info_area > div.tit.ellp2')[1].text
blog_dict['content2'] =bs_obj.select('#content > div.sc_box.review > ul > li > a > div.info_area > div.txt')[1].text
blog_dict['link2'] =bs_obj.select('#content > div.sc_box.review > ul > li > a')[1].get('href')
blog_dict['title3'] =bs_obj.select('#content > div.sc_box.review > ul > li > a > div.info_area > div.tit.ellp2')[2].text
blog_dict['content3'] =bs_obj.select('#content > div.sc_box.review > ul > li > a > div.info_area > div.txt')[2].text
blog_dict['link3'] =bs_obj.select('#content > div.sc_box.review > ul > li > a')[2].get('href')

print(blog_dict)

{'title1': '[안암동/고려대학교]쌀떡으로 만든 떡볶이가 맛있는 "유자유... ', 'content1': '2017.08.09 [삼선교/한성대입구]쌀떡으로 만든 떡볶이가 맛있는 "유자유 김치떡볶이" 시식후기 안녕하세요~지블리입니당~^^ 오늘은 얼마전 오래전부터 먹어보고싶었던 쌀떡으로 떡볶이를 만드는 김치떡볶이 맛집... ', 'link1': 'http://m.blog.naver.com/jibliworld/221070043573', 'title2': '고대 맛집 안암 술집]유자유김치떡볶이 야식 먹은 1NE♡', 'content2': '고대 맛집 안암 술집 유자유김치떡볶이 야식 먹은 1NE♡ 안녕하세요 웃님들 1NELOVE X JUNI 쭈니에요 오늘은 날씨가... 낮부터 기온이 뚝 떨어지고 일부는 비,눈이 온다고 하는데 분명 봄날씨였는데!!! 갑자기 이렇게... ', 'link2': 'http://m.blog.naver.com/1nelove/220663284777', 'title3': '고대/안암 맛집 유자유 김치떡볶이 ♥', 'content3': '유자유 김치떡볶이 @고대, 안암 유자유 김치떡볶이 서울 성북구 인촌로24길 47 **-***-**** 친구가 고대 앞에 아주 맛있는 집이 있다고 알려준 곳이에요. 성신여대쪽에서 밥을 먹은김에 고대 앞에 가서 이것도 한번 먹어보자며... ', 'link3': 'http://m.blog.naver.com/creator26/220826079848'}